# activate cycle detection because some of the test require it
ImplicitGraph.checkForCycles    = true
ImplicitGraph.debug             = true
ImplicitTask.debug              = true
FifoDataGroup.checkForDeadlocks = true
ImplicitWorkStealingRuntime.nestedAtomicTasks = true
BlockingWorkStealingScheduler.useBlockingThreadPool = true
