#============================================================================
# global configurations
#============================================================================
global.implementation = default
#global.implementation = ImplicitGraph.None.BlockingWorkStealingScheduler.ImplicitTask.FifoDataGroup
#global.implementation = ImplicitGraph.None.PollingWorkStealingScheduler.ImplicitTask.FifoDataGroup
#global.implementation = ImplicitGraph.None.ForkJoinScheduler.ImplicitTask.FifoDataGroup
#global.implementation = ImplicitGraph.LowestLevelFirstPrioritizer.SingleFixedThreadPoolScheduler.ImplicitTask.FifoDataGroup
#global.implementation = ImplicitGraph.None.SingleFixedThreadPoolScheduler.ImplicitTask.FifoDataGroup

#============================================================================
# implicit graph configuration
#============================================================================
ImplicitGraph.debug          = false
ImplicitGraph.checkForCycles = false
ImplicitGraph.pollingTimeout = 50


#============================================================================
# implicit task configuration
#============================================================================
ImplicitTask.debug = false


#============================================================================
# worker thread configuration
#============================================================================
WorkerThread.pollingCount = 10
 

#============================================================================
# blocking work stealing configuration configurations
#============================================================================
BlockingWorkStealingScheduler.oneTaskPerLevel = true


#============================================================================
# polling work stealing configuration configurations
#============================================================================
PollingWorkStealingScheduler.maxQueueLength = 30
PollingWorkStealingScheduler.pollingTimeout = 100000
PollingWorkStealingScheduler.pollFirst      = false


