# The AEminium runtime will first try to read the configuration file to which
# the environment variable $AEMINIUMRT_CONFIG points to. If the variable is not
# set it will continue to find the configuration file 'aeminiumrt.config' in the
# current working directory. If no configuration file is found then then built-in
# default values are used.

#============================================================================
# global configurations
#============================================================================
global.implementation = default

#============================================================================
# WorkSteadling Runtime configuration
#============================================================================
ImplicitWorkStealingRuntime.nestedAtomicTasks    = false
ImplicitWorkStealingRuntime.enableGraphViz       = false
ImplicitWorkStealingRuntime.graphVizName         = GraphVizOutput
ImplicitWorkStealingRuntime.ranksep              = 1
ImplicitWorkStealingRuntime.rankdir              = BT
ImplicitWorkStealingRuntime.enableProfiler		 = true
ImplicitWorkStealingRuntime.offlineProfiling	 = false
ImplicitWorkStealingRuntime.outputOffline	 	 = snapshot.jsp
ImplicitWorkStealingRuntime.profileCPU			 = false
ImplicitWorkStealingRuntime.profileTelemetry	 = true
ImplicitWorkStealingRuntime.profileAeCounters	 = true
ImplicitWorkStealingRuntime.profileAeTaskDetails = true
ImplicitWorkStealingRuntime.parallelizeUseTimer = false
ImplicitWorkStealingRuntime.parallelizeUpdateTimer = 10

#============================================================================
# implicit graph configuration
#============================================================================
ImplicitGraph.debug          = false
ImplicitGraph.checkForCycles = true
ImplicitGraph.pollingTimeout = 0


#============================================================================
# work stealing threads
#============================================================================
WorkStealingThread.maxRecursionDepth = 512


#============================================================================
# implicit task configuration
#============================================================================
ImplicitTask.debug = false


#============================================================================
# datagroup task configuration
#============================================================================
FifoDataGroup.checkForDeadlocks         = false
FifoDataGroup.graphVizShowLockingOrder  = true


#============================================================================
# worker thread configuration
#============================================================================
WorkerThread.pollingCount = 10


#============================================================================
# blocking work stealing configuration configurations
#============================================================================
BlockingWorkStealingScheduler.maxQueueLength        = 0
BlockingWorkStealingScheduler.oneTaskPerLevel       = true
BlockingWorkStealingScheduler.unparkInterval        = 100
BlockingWorkStealingScheduler.workStealingAlgorithm = StealFromMaxQueue
BlockingWorkStealingScheduler.useBlockingThreadPool = false


#============================================================================
# blocking thread pool
#============================================================================
BlockingThreadPool.maxThreads = 16


#============================================================================
# ParallelizationDecider
#============================================================================
DeciderFactory.implementation = aeminium.runtime.implementations.implicitworkstealing.decider.SysMon2
SysMon2.parallelizeThreshold = 50
SysMon2.memoryThreshold = 80


#============================================================================
# ForCycle Helper
#============================================================================
ForTask.LazyBinarySplittingPPS = 3
